body {
    margin-bottom: 50px;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.navbar-brand > span {
    color: #E74C3C;
}

#avatar {
    margin-left: 10px;
}

#messages > div {
    padding: 5px 10px;
    display: block;
}

#messages > div > img {
    margin-right: 10px;
}

#message {
    padding: 10px;
}

@media (min-width: 1200px) {
    #login {
        margin-top: 125px;
    }

    #messages {
        height: 455px;
        overflow: auto;
    }
}
